iframe {
    position:absolute;
    z-index:200;
    margin-left:50%;
    transform: translateX(-50%);
    margin-top:50px;
}

#splashPage, .rightBG1, .leftBG1, #splashPage .texture{
height:56.25vw;
}

.mainTitle1 {
    margin-top:60px;
}

#messageTable {
    position:relative;
    width:70vw;
    margin-left:50%;
    transform: translateX(-50%);
}

#messageTable div{
    width:19.5vw;
    height:19.5vw;
    border: 2px solid #F9D38B;
    background-color: #AA0723; 
    margin:2.6vw !important;
    padding:0;
}

#messageTable .messageTitle {
    font-size:1.56vw;
    background-color:#F9D38B;
    color:#AA0723;
    padding:0.52vw 1.04vw;
    width:17.45vw;
    margin:0;
    

}
#messageTable .messageContent {
    font-size:1.3vw;
    color:#F9D38B;
    font-family:'neutra';
    padding: 0 1vw;
}
#messageTable .messageDate {
    font-size:1.8vw;
    color:#F9D38B;
    font-family:'neutra';
    padding: 0 1vw;
}

.buttonContainer {
    position:relative;
  margin-left:65vw;
}
.buttonContainer .messageButtons{
    font-family:'neutra-bold';
    color:#AA0723;
    background-color: #F9D38B;
    padding:1vw;
    margin:1vw;
    border:none;
    font-size:1.5vw;
    border-radius:5px;
    text-decoration: none;
  float:left;}

td:hover {
    cursor:pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 500; /* Sit on top */
    padding-top: 10%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    overflow-y:auto;
    border-radius: 10px;
    position: relative;
    background-color: #AA0723;
    margin: auto;
    padding: 25px;
    border: 2px solid #F9D38B;
    width: 80%;
    height:55%;
    color:#F9D38B;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    font-family:'neutra';
    font-size:1.3vw;

  } 
.modal-header h2 {
    font-size:2.6vw;
    margin:0;
  }
  .modal-date {
    font-size:2.6vw;
    font-weight: bold;
  }
 

 
  ::-webkit-scrollbar {
     width: 30px;
    background-color: rgba(255,255,255,0);

  }
  
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb {
      border: 16px solid rgba(255,255,255,0);
      background-clip: padding-box;
  }
  
  ::-webkit-scrollbar-track {
      background-color: #ccc;
  }
  
  ::-webkit-scrollbar-thumb {
      background-color: #F9D38B;
      border: 10px solid transparent;
      border-radius:50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    border: 8px solid transparent;

  }



  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: #F9D38B;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #AA0723;
    color: #F9D38B;
    border-radius: 10px;

  }
  
  .modal-body {padding: 2px 16px;}