

    .footer {
        width: 100%;
        height: 18.3vw;
        border-top: 0.73vw solid rgb(249, 211, 139);
    }
    
    
    .footer .logo {
        margin-top: 2.5vw;
        border: 0.2vw solid rgb(249, 211, 139);
        padding: 0.4vw;
        font-size: 1.1vw;
    }
    
    .footer img {
        width: 4vw;
        height: 4vw;
        margin-top: 4vw;
        padding: 1.1vw;
    }
    
    .slideshowContainer {
        height: 50vw;
        width: 100vw;
    }

    .slideNavigation {
        bottom: 20px;
    }
    
    .bar {
        width: 4vw;
        height: 0.8vw;
        border: 0.2vw solid rgb(249, 211, 139);
        margin: 0.45vw;
    }

    #vexInfoSection {
        height: 62vw;
    }

    #vexInfoSection .texture{
        height:62vw;
    }

    .leftBG2 .rightBG2 {
        height:62vw;
    }
    
 
  
    .pulsate {
        bottom:2.6vw;
        width:5vw;
        height:5vw;
        transform:translateX(-2.5vw);
    }

    #teamImage {
        width: 100vw;
        height: 45vw;
    }

    #teamsBackgroundTitle h1 {
        font-size: 18.3vw;
        margin-left: 14.6vw;
        margin-top: -2.6vw;
    }
    
    #teamsBackgroundTitle h2 {
        font-size: 7.3vw;
        margin-top: 4vw;
        margin-left: 14.6vw;
    }    


    .teamLogo {
        border: 0.2vw solid rgb(249, 211, 139);
        padding: 0.4vw;
        padding-top: 0.15vw;
        padding-bottom:0.15vw;
        font-size: 1.1vw;
    }
    .logo2381 {
        top:1.8vw;
        left:2.5vw;
        width:5.5vw;
        height:5.5vw;
        border-radius:1vw;
    }
    .contactUsButton {
        font-size: 1.1vw;
        right: 2.9vw;
        top: 1.8vw;
        border-radius:0.36vw;
        padding:0.75vw;
    }

    #sidenav {
        top: 34%;
        left: 3.3vw;
    }
    
    .sidenavContent {
        line-height: 2.2vw;
    }
    
    .link {   
        font-size: 1.1vw;
    }
    
    .link:hover {
        font-size: 1.2vw;
        padding-left:0.4vw;
    }
    
    .sidenavContent .activeLink {
        font-size: 1.6vw;
        padding-left:0.4vw;
    }

    #menuTeamList {
        top: 34%;
        width:2.2vw;
        line-height:2.2vw;
        border-radius:0 10px 10px 0;
        padding:0.4vw;
        margin-left:-2.2vw;

    }
    #menuTeamList a {
        font-size:1.5vw;
    }
    
    
    .mainTitle1 {
        margin-top: 20px;
        font-size: 7vw;
    }
    .marginLeft {
        margin-left:-4.5vw;

    }
    
    .mainTitle2 {
        margin-top: -45px;
        margin-right: 2.5%;
        font-size: 19vw;
        letter-spacing:40px;
    }
    /* 551 715 */
    
    .robotImage {
        margin-top: -38vw;
        width: 27.5vw;
        height: 35vw;
    }
    .topnav {
        padding-top:1.5vw;
    }
    
    #topButton {
        padding: 1vw;
        bottom: 2vw;
        right: 2vw;
        bottom: -4vw;
    }
    
    .vexText {
        font-size:3vw;
    }
    
    .vex2019text {
        font-size: 1.5vw;
        right: 3vw;
        bottom: 2.3vw;
        
    }
    .vexInfoText1 a .vexInfoText2 a {
        font-size:1.17vw;
    }
    .vexInfoText2 {
        margin-top:20vw;
    }
    .vexLink {
        font-size:1.2vw;
    }
    .sponsorsContainer {
        height:14vw;
        border-top:0.73vw solid #F9D38B;
        border-bottom:0.73vw solid #F9D38B;
    }
    .sponsorsSubContainer h1 {
        font-size:2.2vw;
    }
    .sponsorsSubContainer {
        margin-left:5.5vw;
        margin-top:1.83vw;
    }



@media only screen and (max-width:1024px) {
    body::-webkit-scrollbar {
    display: none;
    width:0;
}
    #sidenav {
        display:none;
    }
    #mobileNav {
        opacity:0.9;
        display:block;
        background-color:#F9D38B;
        width:100%;
        height:50px;
        position:fixed; 
        z-index: 1000;
        overflow:hidden;
        transition:0.6s ease-in-out;
        }
        .mobileNavContent {
            margin-top:50px;
            width:100%;
            height:500px;
        }
        .mobileNavTD {
        width:100%;
        text-align:center;
        height:50px;
        }
        
        #mobileNav .link {
        color:#AA0723;
        font-size:16px;
        text-decoration:none;
        transition:0.2s ease-in-out;
        }
        
        #mobileNav .link:hover {
        font-size:20px;
        }
        
        
        #mobileNav .activeLink {
            font-weight:bold;
            font-size:30px;
        }
        #mobileNav .activeLink:hover {
        font-size:30px;
        }
        #toggleMobileNav {
            width:50px;
            height:50px;
            position: absolute;
            right:25px;
            top:0;
        }
    .sidenavContent {
        line-height:3vw;
    }
    #menuTeamList {
        top:200px;
        margin-left:-30px;
    }
    .link {
        font-size: 15px;
    }
    
    .link:hover {
        font-size: 16px;
    } 
    #splash {
        height:500px;
    }
    #splashPage, #splash {
        margin-top:50px !important;
    }
    .logo2381, .contactUsButton {
        margin-top:65px;
    }
    .logo2381 {
        width:6vw;
        height:6vw;
    }
    .vex2019text {
        position: absolute;
        top:450px;
    }

#splash .texture {
    height:800px;
}
    
.rightBG1 {
    height:550px;
}

    .teamLogo {
        font-size: 15px;
    }
    .contactUsButton {
        font-size: 15px;
    }



    .mainTitle2 {
        font-size: 200px;
    }
    .leftBG2, .rightBG2 {
        height:675px;
    }
    
    #teamsBackgroundTitle h1 {
        font-size: 160px;
        margin-left: 100px;
    }
    
    #teamsBackgroundTitle h2 {
        font-size: 75px;        
        margin-top: 50px;
        margin-left: 100px;
    }
    .slideshowContainer {
        height: 50vw;
        width: 100vw;
    }
    

.sponsorsContainer {
    height:140px;
    border-top:7.5px solid #F9D38B;
    border-bottom:7.5px solid #F9D38B;
    margin-top:50px;
}
.sponsorsSubContainer h1 {
    font-size:22.5px;
}
.sponsorsSubContainer {
    margin-left:55px;
    margin-top:30px;
}

#vexInfoSection, #vexInfoSection .texture{
    height:110vw;
}
.infoText {
    width:90vw;
    margin-left:5vw;
}
.infoText .extraBottomPadding {
    padding-bottom:5vw;
}
.infoText img {
    width:8vw;
    height:8vw;
}
.infoText h1 {
    font-size:3.5vw;
}
.infoText p {
    font-size:2vw;
}

.infoText a {
    font-size:2vw;
    padding:1vw 2vw;
    border-radius:1.8vw;
}
.statsTable  {
    margin-top:60vw;
    padding-top:5vw;
    width:90vw;
    margin-left:5vw;
}
.statsTable .leftBox h1 {
    font-size:3.5vw;
}
.statsTable .leftBox p {
    font-size:2vw;
}
.statsTable .rightBox h1 {
    font-size:8vw;
}
.statsTable .rightBox h2 {
    font-size:3vw;
}
.infoCards, .infoCards .texture {
    height:130vw;
}
.infoCards table {
    margin-left:10vw;
    width:80vw;
    text-align:center;
}
.infoCards td {
    width:30vw;
    height:60vw;
}
.infoCards .mobileRed {
    background-color:#AA0723;
    color:#F9D38B;
}
.infoCards .mobileRed hr{
    border-color:#F9D38B;
    background-color:#F9D38B;
}
.infoCards h2 {
    font-size:3.5vw;
}
.infoCards p {
    font-size:2vw;
}
#teamImage, #teamImage .texture {
    height: 45vw;
}
.vexGameInfo, .vexGameInfo .texture {
    height:92vw;
}
.vexGameInfo table {
    margin-top:0vw;
}
.vexGameInfo p, .vexGameInfo a {
    font-size:2vw;
}
.vexGameInfo h1 {
    font-size:3.5vw;
}
.vexGameInfo iframe {
    width:38vw;
    height:23vw;
}
#teams, #teams .texture {
    height:75vw;
}
#teamsContainer #teamInfo {
    height:65vw;
}
#teamsContainer .backgroundYellow {
    height:54vw;
}
#teamsContainer #teamInfo p{
    font-size:1.8vw;
}
#teamsContainer #teamInfo h2{
    font-size:2.8vw;
}
#teamsContainer #teamInfo li{
    font-size:1.8vw;
}

#teamsContainer #teamInfo a{
    color:#F9D38B;
    font-size:1.8vw;
    font-family:'neutra';
}
}

@media only screen and (max-width:767px) {
   body::-webkit-scrollbar {
    display: none;
    width:0;
}
.vexGameInfo table {
    width:90vw;
    margin-left:0;
}
.infoCards table {
    margin-left:0;
}
.vexGameInfo td {
    padding:0;
}
#teamsContainer .backgroundYellow {
    width:20vw;
}
#teamContent td {
    padding:0;
}
    body {
        overflow-x:hidden;
    }
    body{
        width:100vw;
    }
    .logo2381 {
        left:35px;
        width:40px;
        height:40px;
        border-radius:5px;
    }
    #sidenav{
        display:none;
    }
    .link {
        font-size: 10px;
    } 
    #splash {
        margin-top:50px;
        height:400px;
    }
    .vex2019text {
        position: absolute;
        top:280px;
        font-size: 11px;
    }
    .vexText {
        font-size:25px;
    }
    #menuTeamList a {
        font-size:10px;
    }
    .sidenavContent {
        line-height: 15px;
    }
    .vexInfoText1 {
        text-align:center;
        width:70%;
        margin-left:15%;
        position:relative;
    }
    .vexInfoText2 {
        text-align:center;
        width:70%;
        margin-left:15%;
        margin-top:-50px;
        position:relative;
    }
    .vexInfoText1 a {
        font-size:11px;
    }
    .vexInfoText2 a {
        font-size:11px;
        margin-bottom:20px;
    }
    .teamLogo {
        font-size: 10px;
    }
    .contactUsButton {
        font-size: 10px;
        right:20px;
        border-radius:3px;
        padding:5px;
    }

    .link:hover {
        font-size: 11px;
        padding-left:4px;
    }
    
    .sidenavContent .activeLink {
        font-size: 14px;
        padding-left:4px;
    }
    

.robotImage {
    margin-top: -175px;
    width: 200px;
    height: 260px;
}
    .mainTitle1 {
        font-size: 40px;
        margin-top:40px;
    }


    .mainTitle2 {
        font-size: 100px;
        letter-spacing:20px;
        padding-top:20px;
    }
    #teamsBackgroundTitle h1 {
        font-size: 22.5vw;
        margin-left: 40px;
    }
    
    #teamsBackgroundTitle h2 {
        font-size: 12.5vw;        
        margin-top: 50px;
        margin-left: 40px;
    }
    .slideshowContainer {
        height: 50vw;
        width: 100vw;
    }

    .bar {
        width: 3vw;
        height: 1.2vw;
        border-width:3px;

    }
    
.footer {
    height: 125px;
    border-width:5px;
}


.footer .logo {
    margin-top: 10px;
    font-size: 10px;
}

.footer img {
    width: 25px;
    height: 25px;
    margin-top: 15px;
    padding: 15px;
}
#topButton {
display:none;
}
#vexInfoSection .texture {
    height:1000px;
}
#splash .texture {
    height:600px;
}
.rightBG1 {
    height:400px;
}

.sponsorsContainer {
    height:85px;
    border-width:5px;
    margin-top:0px;
}
.sponsorsSubContainer h1 {
    font-size:15px;
}
.sponsorsSubContainer {
    margin-left:30px;
    margin-top:15px;
}
#teamImage {
    height: 65vw;
}

/* new additions */
#vexInfoSection, #vexInfoSection .texture{
    height:400vw;
}
.infoText td {
    display:inline-block;
    width:75%;
}

.infoText .extraBottomPadding {
    padding-bottom:2vw;
}

.infoText img {
    width:12vw;
    height:12vw;
}

.infoText h1 {
    font-size:8vw;
    line-height:0.2em;
}
.infoText p {
    font-size:3.5vw;
}

.infoText a {
    font-size:4vw;
    padding:2vw 4vw;
    border-radius:4vw;
}


.statsTable  {
    width:90vw;
    margin-left:5vw;
    margin-top:225vw;
    padding-top:5vw;
}

.statsTable td {
    padding:4vw 6vw;
    width:60vw;
    display:inline-block;
}
.statsTable .leftBox {
    width:50vw;
}
.statsTable .rightBox {
    width:50vw;
}
.statsTable .leftBox h1 {
    font-size:7vw;
}
.statsTable .leftBox p {
    font-size:4vw;
}
.statsTable .leftBox hr {
    background-color:#AA0723;
    width:40%;
}
.statsTable .rightBox td {
    text-align:center;
    padding:0;
    margin:0;
    display:table-cell !important;
}
.statsTable .rightBox h1 {
    margin-top:10vw;
    font-size:20vw;
    line-height:0;
}
.statsTable .rightBox h2 {
    font-size:7vw;
}
#teamImage {
    height:45vw;
}
#teamImage .texture {
    height:45vw;
}
#teamImage img{
    width:90vw;
    height:41vw;
}

.infoCards, .infoCards .texture {
    height:375vw;
}
.infoCards td {
    width:80vw;
    height:auto !important;
    box-sizing: border-box;
    padding:5vw;
    margin-bottom:5vw;
    margin-left:10vw;
}
.infoCards h2 {
    font-size:8vw;
}
.infoCards p {
    font-size:3.5vw;
}
.vexGameInfo, .vexGameInfo .texture {
    height:260vw;
}
.vexGameInfo table {
    margin-top:10vw;
    margin-left:5vw;
}
.vexGameInfo td {
    display:inline-block;
}
.vexGameInfo p, .vexGameInfo a {
    font-size:3.5vw;
}
.vexGameInfo h1 {
    font-size:7vw;
}
.vexGameInfo iframe {
    width:80vw;
    height:48vw;
    margin:5vw 0 5vw 2vw;
    border-radius: 2vw;
}
#teamsContainer .tab h1{
    font-family:'neutra';
    color:#AA0723;
    font-size:5vw;
	transform: rotate(90deg);

}

#teams, #teams .texture {
    height:170vw;
}
#teams .mobileOnly {
    display:block;
}
#teams .notMobile {
    display:none;
}
#teamsContainer #teamContent td {
    display:inline-block;
}
#teamsContainer #teamInfo {
    height:80vw;
}
#teamsContainer .backgroundYellow {
    height:72vw;
    width:50vw;
    margin-left:5vw;
    margin-top:10vw;
}
#teamsContainer #teamInfo h1{
    font-size:7vw;
    margin-left:5vw;
}
#teamsContainer #teamInfo hr{
    margin-left:5vw;
}
#teamsContainer #teamInfo p{
    font-size:2.8vw;
}
#teamsContainer #teamInfo h2{
    font-size:4vw;
}
#teamsContainer #teamInfo ul{
    list-style-position: inside;
    list-style-type:none;
    padding-left: 0;
    margin-left:0;
}

#teamsContainer #teamInfo li{
    font-size:2.8vw;
}

#teamsContainer #teamInfo a{
    font-size:2.8vw;
}
#teamsContainer #teamInfo img{
    width:60vw;
    margin-left:5vw;
    margin-top:10vw;
    margin-bottom:10vw;
    border-radius: 2vw;
}



}
