
    #splash, #splash .texture, #splash .leftBG1, #splash .rightBG1{
        height:100%;
    }
    #aboutSplashContent p {
        font-size:1.3vw;
    }
    .mainTitle1 {
        padding-top:6.6vw;
    font-size:7vw;
    margin-top: 1.46vw;
    }
    #aboutContainer .texture, #aboutContainer .leftBG1 ,#aboutContainer .rightBG1 {
        height: 50vw;
    }
    #infoSlideshow {
        margin-top:0;
        padding-top:0;
        height:42vw;
        width:70vw;
    }
    
    
#aboutContentLeft {
    padding-top:1.8vw;
    width:33vw;
    padding-bottom:5.5vw;
}

#aboutContentRight {
    width:33vw;
    padding-top:1.8vw;
    padding-bottom:5.5vw;
}


#aboutContentLeft h1, #aboutContentRight h1{
    font-size: 2.8vw;
}
#aboutContentLeft p, #aboutContentRight p{
    font-size: 1.2vw;

}
#infoSection {
    height:90%;
}

.joinUsVid {
    width:73.2vw;
    height:36.6vw;
    border-radius:1vw;
}

@media only screen and (max-width:1024px) {
    #splash, #splash .texture, #splash .leftBG1, #splash .rightBG1{
        height:85vw;
    }
    #aboutSplashContent p {
        font-size:2.5vw;
    }
    #aboutSplashContent {
        width:66vw;
    }
    .mainTitle1 {
        padding-top:12vw;
        margin-top: 1.5vw;
        font-size:13vw;
    }
    #aboutContainer .texture, #aboutContainer .leftBG1 ,#aboutContainer .rightBG1 {
        height: 53vw;
    }
    
#aboutContentLeft {
    padding-top:0;
    position:relative;
    width:75vw;
    margin-left:50%;
    padding-bottom:0;
}

#aboutContentRight {
    width:75vw;
    padding-top:0;
    margin-left:50%;
    padding-bottom:0;
}


#aboutContainer{

        height: 53vw;
}


#aboutContentLeft h1, #aboutContentRight h1{
    font-size: 6vw;
    text-align: center;
}
#aboutContentLeft p, #aboutContentRight p{
    font-size: 2.5vw;
    text-align: center;

}

.joinUsVid {
    width:90vw;
    height:45vw;
    border-radius:1vw;
}
#infoSection, #infoSection .texture , #infoSection .leftBG2, #infoSection .rightBG2{
    height:150vw;
}
}

@media only screen and (max-width:767px) {
    #splash, #splash .texture, #splash .leftBG1, #splash .rightBG1{
        height:120vw;
    }
    #aboutSplashContent p {
        font-size:3vw;
    }
    .mainTitle1 {
        padding-top:12vw;
        margin-top: 1.5vw;
    }
    #aboutContainer .texture, #aboutContainer .leftBG1 ,#aboutContainer .rightBG1 {
        height: 53vw;
    }
#aboutContentLeft {
    padding-top:0;
    position:relative;
    width:75vw;
    margin-left:50%;
    padding-bottom:0;
}

#aboutContentRight {
    width:75vw;
    padding-top:0;
    margin-left:50%;
    padding-bottom:0;
}


#aboutContentLeft h1, #aboutContentRight h1{
    font-size: 6vw;
    text-align: center;
}
#aboutContentLeft p, #aboutContentRight p{
    font-size: 3vw;
    text-align: center;

}
#infoSection , #infoSection .texture{
    height:195vw;
}

.joinUsVid {
    width:74vw;
    height:45vw;
    border-radius:1vw;
}
    
}
