@media only screen and (max-width:767px) {
    #splashPage {
        margin-top:50px;

    }
    #splashPage, .rightBG1, .leftBG1, #splashPage .texture{
        height:260vw;
        }
    #messageTable {
        width:70vw;
        margin-left:50%;
        transform: translateX(-50%);
    }

    #messageTable td {
        position:absolute;
        margin-left:50%;
        transform: translateX(-50%);
    }
   
    #messageTable .event2 {
        margin-top:65vw !important;
    } 
    
    #messageTable .event3 {
        margin-top:130vw;
    }
    
    #messageTable div{
        width:55vw;
        height:55vw;
        border: 0.5vw solid #F9D38B;
        margin:2.6vw !important;
    }
    
    #messageTable .messageTitle {
        font-size:4vw;
        padding:1vw 2vw;
        width:51vw;
        
    
    }
    #messageTable .messageContent {
        font-size:3vw;
        padding: 0 2vw;
    }
    #messageTable .messageDate {
        font-size:3.5vw;
        padding: 0 2vw;
    }
    
    .buttonContainer {
        position:relative;
        margin-top:200vw;
        margin-left:60vw;
    }
    .buttonContainer .messageButtons{
        padding:2vw;
        margin:2vw;
        font-size:3.5vw;
        border-radius:5px;
    }
    
  
  /* Modal Content */
  .modal-content {
      margin-top:50px;
    font-size:3.2vw;

  } 
.modal-header h2 {
    font-size:4vw;
  }
  .modal-date {
    font-size:4vw;
  }

}