    #splash .texture, #splash .rightBG1, #splash .leftBG1{
        height:70vw;
    }
    #splash {
        height:70vw;
    }

@media only screen and (max-width:1024px) {
    #splashPage, .rightBG1, .leftBG1, #splashPage .texture{
        height:140vw;
        }
        #messageTable {
            width:65vw;
        }
        
        #messageTable .messageTitle {
            font-size:4vw;
        
        }
        #messageTable .messageContent {
            font-size:2.25vw;
        }
        #messageTable .messageDate {
            font-size:2vw;
        }
        .buttonContainer .messageButtons{
            padding:1.7vw;
            margin:1.7vw;
            font-size:2.2vw;
        }
}

@media only screen and (max-width:767px) {
    #splashPage {
        margin-top:50px;

    }
    #splashPage, .rightBG1, .leftBG1, #splashPage .texture{
        height:150vw;
        }
        #messageTable {
            width:70vw;
        }
        
        #messageTable .messageTitle {
            font-size:3.3vw;
        
        }
        #messageTable .messageContent {
            font-size:2.78vw;
        }
        #messageTable .messageDate {
            font-size:2.78vw;
        }
        
        .buttonContainer {
            
            width:50%;
        }
        .buttonContainer .messageButtons{
            font-size:2.78vw;
            padding:5px;
            margin:5px;
            border-radius:2px;
        }
        .modal-content {
            margin-top:50px;

            border-radius: 10px;
           font-size:14px;
            padding: 15px;
            width: 70%;
        }     
        .modal-header h2 {
            font-size:7vw;
        
          }
       
        
          .modal-body p {
            font-size:3.5vw;
          }
}
@media only screen and (max-width:640px) {
    #splashPage, .rightBG1, .leftBG1, #splashPage .texture{
        height:175vw;
        }
}
@media only screen and (max-width:450px) {
    #splashPage, .rightBG1, .leftBG1, #splashPage .texture{
        height:205vw;
        }
}
@media only screen and (max-width:330px) {
    #splashPage, .rightBG1, .leftBG1, #splashPage .texture{
        height:225vw;
        }
}
