

#splashPage, .rightBG1, .leftBG1, #splashPage .texture{
height:240vw;
}
.mainTitle1 {
    padding:0;
    margin:0;
    padding-top:1.5vw;
}

table {
width:100%;
position: relative;
}

td {
    padding:5vw;
}

table img {
    width:40vw;
    border-radius: 0.52vw;
}

table h1 {
    color:#F9D38B;
    font-size:3.5vw;
    padding-top:3vw;
}

table p {
    color:#F9D38B;
    font-size:1.56vw;
    font-family:'neutra';

}

table li {
    color:#F9D38B;
    font-size:1.56vw;
    font-family:'neutra';
}

table h2 {
    color:#F9D38B;
    font-size:1.8vw;
    line-height:0;
    font-family:'neutra'; 
}

.left-text {
    padding-left:15.6vw;
} 
