*.pngg filter=lfs diff=lfs merge=lfs -text

*.gifg filter=lfs diff=lfs merge=lfs -text
*.jpegg filter=lfs diff=lfs merge=lfs -text
*.mp3g filter=lfs diff=lfs merge=lfs -text
*.psdg filter=lfs diff=lfs merge=lfs -text
*.mp4g filter=lfs diff=lfs merge=lfs -text

