* {
  box-sizing: border-box;
}
body,td,th {
	font-family: Calibri;
}

/* Navagation Bar */
    #navbar {
        //overflow: hidden;
        background-color: white;
        height: 75px;
        width: 1280px;
        position: fixed;
    }
/* The White Bar on the left */
     #left {
        background-color: white;
        height: 100%;
        width: 100px;
        left: 0;
        position: fixed;
        z-index: 100000;
		opacity:1;
    }
/*  Right White Bar*/
    #right {
        background-color: white;
        height: 100%;
        width: 100px;
        right: 0;
        position: fixed;
        z-index: 100000;
		opacity:01;
    }
/* Individual Buttons on Nav bar*/

    #navbar a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 20px;
        height: 75px;
        text-decoration: none;
        background-color: white;
        transition-duration: 0.6s;
        padding-top: 26px;
				position: relative;
    }



/* Turns text green on hover */
    #navbar a:hover {
        color: lightgreen;
    }
/* Underline that appears on hover */
    #navbar .line {
        height: 1px;
        margin-bottom: -1px;
        width: 100%;
        background-color: rgb(106, 121, 255);
        opacity: 0;
        transition-duration: : 0.25s;
    }

		#navbar .dropdown .line {
        height: 1px;
        margin-bottom: -1px;
        width: 60%;
        background-color: rgb(106, 121, 255);
        opacity: 0;
        transition-duration: 0.25s;
    }
/* When link is hovered, line becomes visible */
    #navbar a:hover .line {
        opacity: 1;
    }
		#navbar .dropdown:hover .line {
        opacity: 1;
    }


		#navbar a:hover a {
				opacity: 1;
		}
.underline {
   height: 2px;
   margin-top: -5px;
   width: 100%;
   background-color: black;
   opacity: 1;
   border-radius: 4px;
}
//Dropdown menu for 3 teams
#navbar .dropdown {
 overflow: hidden;
	float: left;
	display: block;
	text-align: center;
	height: 50px;
	background-color: white;
	transition-duration: 2s;
	padding: 26px 10px 20px 10px;
	padding-top:26px;

}

#navbar .dropdown .dropbtn {
	display: block;
	text-align: center;
	background-color: white;
	transition-duration: 0.6s;
	font-size : 16px;
	font-family: Calibri;
	font-weight: bold;
	font-variant: normal;
  border: none;
  outline: none;

}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

#navbar .dropdown-content {

  background-color: #f9f9f9;
  z-index: 1;
	float: none;
	margin-top: 20%;
}

#navbar .dropdown-content a {
  float: none;
  text-decoration: none;
  display: block;
  text-align: center;
	padding: 15px;
	padding-top : 10px;
	padding-bottom: 10px;
	height:auto
}

#navbar  .dropdown-content a:hover {
  background-color: #ddd;
	color: lightgreen;
}

#navbar .dropdown:hover {
  overflow: visible;
	color: lightgreen;
}

#navbar .dropdown:hover .dropbtn {
	color: lightgreen;
}
