html {
    scroll-behavior: smooth;
}
body {
    -ms-overflow-style: none;  /* IE 10+*/
    scrollbar-width: none;  /* Firefox*/

}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome*/
}

@font-face {
    font-family: "neutra";
    src: url("./fonts/NeutraText-book.otf") format("opentype");
}

@font-face {
    font-family: "neutra-bold";
    src: url("./fonts/NeutraText-bold.otf") format("opentype");
}

@font-face {
    font-family: "robot";
    src: url("./fonts/Robot Renegades.otf") format("opentype");
}

body {
    padding: 0;
    margin: 0;    
    font-family: "neutra-bold", 'Ubuntu', Consolas, sans-serif !important;
    max-width:100vw;
    overflow-x: hidden !important;

}

.teamLogo {
    color: rgb(249, 211, 139);
    border: 2px solid rgb(249, 211, 139);
    padding: 2px 6px;
    display: inline-block;
    /* padding-top: 2px;
    padding-bottom: 2px; */
    font-size: 15px;
    top:0;
}

.contactText1 {
    color: rgb(249, 211, 139) !important;
    font-size: 15px;
    opacity: 1;
    transition: 1s ease-in-out;
    right:0;
}

.contactText2 {
    color: rgb(249, 211, 139);
    font-size: 15px;
    opacity: 0;
    transition: 1s ease-in-out;
    right:10%;

}

/* .contactInfo:hover .contactText1 {
    opacity: 0;
}

.contactInfo:hover .contactText2 {
    opacity: 1;
} */

#sidenav {
    position: absolute;
    top: 33%;
    left: 35px;
    transition: 0.5s ease-in-out;
}

.sidenavContent {
    line-height: 30px;
    text-decoration: none !important;
    color: rgb(249, 211, 139);
}

.sidenavContent .link {
    /* border-style:solid; */
    font-size: 15px;
    opacity: 0.4;
    transition: 0.2s ease-in-out;
}

.sidenavContent .link:hover {
    opacity: 1;
    padding-left:5px;
    /* font-size: 16px; */
}

.sidenavContent .activeLink {
    opacity: 1;
    padding:5px;
    font-size: 30px;
}

.sidenavContent td {
    padding: 0;
    width: 0px;
    height: auto;
    overflow: hidden;
    display: block;
    transition: 0.5s ease-in-out;
}

.largeTitle {
    position: relative;
    font-size: 5vmax;
    font-weight:bold;
    color: rgb(249, 211, 139);
    /* text-align: center; */
}
.text-space {
    font-size: 5vmin;
}
.background-title{
    position:relative;
    font-size: 0;
    font-family: 'robot', sans-serif;
    opacity: 0.6;
}
.background-title .textbox{
    position:absolute;
    width:50%;
    top:0;
    line-height:1;
}

.background-title .text{
    font-size: 30vmin;
    font-weight: light;
}

@media (min-width: 1200px){
    .background-title .text{
        font-size:20vw;
    }
   
    .text-space {
        font-size: 5vw;
    };
}
.robotImage {
    /* margin-top: -317px; */
    position: relative;
    top:20vh;
    opacity: 0.7;
    width: 40vmin;
    height: 40vmin;
}
.background1 {
    background-color:rgb(170, 7, 35);
    padding: 0;
    margin: 0;
    height: 200vh;
    width: 50%;
    position: absolute;
    z-index: 0;
}
.background2 {
    background-color: rgb(137, 4, 29);
    padding: 0;
    margin: 0;
    margin-left: 50%;
    height: 200%;
    width: 50%;
    position: absolute;
    z-index: 0;
}

.texture {
    background-image: url("images/background-texture.png");
    background-size: 100px 100px;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: absolute;
}

.topnav {
    padding-top:2vmin;
    padding-left:2vw;
    padding-right:2vw;
}

#topButton {
    padding:10px;
    background-color:rgb(249, 211, 139);
    position:fixed;
    bottom:25px;
    right:25px;
    border-radius:50%;
    opacity:0;
    bottom:-50px;
    transition:0.3s ease-in-out;
}

/* Line stuff */

#menuLine {
    opacity:1;
    float:right;
    height: 2px;
    background-color: rgb(249, 211, 139);
    width: 100%;
    transform:scaleX(0);
    transition-duration: 0.2s;
    border-radius: 2px;
    transform-origin:100% 0;
}
.fullLength {
    transform:scaleX(1) !important;
}
#toggleMenu:hover #menuLine {
    transform:scaleX(1);

}


/* Hamburger stuff */

.hamburger {
    outline: none;
    padding: 15px 0;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: rgb(249, 211, 139);
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: rgb(249, 211, 139);
}

.hamburger-box {
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 28px;
    height: 2px;
    background-color: rgb(249, 211, 139);
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -7px;
}

.hamburger-inner::after {
    bottom: -7px;
}

.hamburger--squeeze .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#toggleMenu {
    margin:0;
}

#menuButton {
    margin-left: 35px;
}

.vex2019text {
    position: absolute;
    float: right;
    color: rgb(249, 211, 139);
    font-size: 21px;
    right: 40px;
    bottom: 31px;
}