
body,td,th {
  font-weight:500;
}
*{
  margin:0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}
.center {
   position:absolute; left:50%; top:50%; margin:0; transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   text-align:center;
}
.center-h {
   position:absolute; left:50%; margin:0; transform: translate(-50%, 0);
   -ms-transform: translate(-50%, 0);
   text-align:center;

}
.center-v {
   position:absolute; top:50%; margin:0; transform: translate(0, -50%);
   -ms-transform: translate(0, -50%);
   text-align:center;

}

.cascadeImage {
  position: absolute;
  top:0;
  left:0;  
  width:100%;
  
}
.cascadeImageContainer{
  width:80%;
  
  padding-right:0;
  padding-left:0;
}
.line {
        height: 1px;
        margin-bottom: -1px;
        width: 100%;
        background-color: white;
        opacity: 0;
        transition-duration:  0.25s;
}
html, body{
    /* height: 105%;
    border: 0px solid red;
    min-width:1280px; */
		scrollbar-width: none;
		-ms-overflow-style: none;
		scroll-behavior: smooth;

}

/* Navagation Bar */
    #navbar {
			overflow:visible;
        /*background-color: white;*/
        height: 75px;
        width: 1280px;
        position: fixed;
        color:white;
				transition-duration: 1s;
    }

    #navbar * {
      box-sizing: border-box;
    }
/* The White Bar on the left */
     #left {
        background-color: white;
        height: 100%;
        width: 100px;
        left: 0;
        position: fixed;
        z-index: 100000;
		opacity:1;

    }
/*  Right White Bar*/
    #right {
        background-color: white;
        height: 100%;
        width: 100px;
        right: 0;
        position: fixed;
        z-index: 100000;
		opacity:01;
    }
/* Individual Buttons on Nav bar*/

    #navbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 20px;
        height: 75px;
        text-decoration: none;
        /*background-color: white;*/
        transition-duration: 0.6s;
        padding-top: 0;


				position: relative;
    }



/* Turns text green on hover */
    #navbar a:hover {
        color: lightgreen;
    }
/* Underline that appears on hover */
    #navbar .line {
        height: 1px;
        margin-bottom: -1px;
        width: 100%;
        background-color: white;
        opacity: 0;
        transition-duration:  0.25s;
    }
    .progress-bar-vertical {
  width: 20px;
  min-height: 100px;
  margin-right: 20px;
  float: left;
  opacity:0;
  transition-property: opacity;
  transition-duration: 1s;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: flex-end;
  -webkit-align-items: flex-end; /* Safari 7.0+ */
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  
 
}

		#navbar .dropdown .line {
        height: 1px;
        margin-bottom: -1px;
        width: 60%;
        background-color: rgb(106, 121, 255);
        opacity: 0;
        transition-duration: 0.25s;
    }
/* When link is hovered, line becomes visible */
    #navbar a:hover .line {
        opacity: 1;
        background-color: rgb(106, 121, 255);
    }
		#navbar .dropdown:hover .line {
        opacity: 1;
    }
		#navbar a:hover a {
				opacity: 1;
		}
.underline {
   height: 2px;
   margin-top: -5px;
   width: 100%;
   background-color: black;
   opacity: 1;
   border-radius: 4px;
}
/*Dropdown menu for 3 teams*/
#navbar .dropdown{
  /*overflow: hidden;*/
  position:relative;
	display: inline-block;
	text-align: center;
	transition-duration: 1s;
	height: 30px;
	/*background-color: white;*/
	padding: 0 10px 20px 10px;
}

#navbar .dropdown .dropbtn {
	display: block;
	text-align: center;
	/*background-color: white;*/
	transition-duration: 0.6s;
	font-size : 16px;
	font-family: Calibri;
	font-weight: bold;
	font-variant: normal;
  border: none;
  outline: none;
  float:none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

#navbar .dropdown-content {
	transform: scaleY(0);
  /*background-color: #f9f9f9;*/
  z-index: 1;
	margin-top: 20%;
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
	transition-duration: 0.25s;
	transform-origin: top;
}

#navbar .dropdown-content a {

  text-decoration: none;
  display: block;
  text-align: center;
	padding: 15px;
	padding-top : 10px;
	padding-bottom: 10px;
	height:auto;
  float:none;
}

#navbar  .dropdown-content a:hover {
  /*background-color: #ddd;*/
	color: lightgreen;
}

#navbar .dropdown:hover .dropdown-content {
	color: lightgreen;
	height:auto;
	transform: scaleY(1);
}

#navbar .dropdown:hover .dropbtn {
	color: lightgreen;
}

.slide {
    overflow: hidden;
    position: fixed;
		transition-duration:1s;
		height: 100%;
		width: 100%;
		top: 100%;
}
.fixedWindow{
  height: 100%;
  background: url(img_man.jpg) no-repeat center fixed;
  
  background-size: cover;
  z-index:-2;
}
.filter-color {
  background: rgba(35, 163, 237, 0.3); /* Black background with 0.5 opacity */
  height:100%;
  width:100%;
  position:absolute;
  top:0;
}
.filter-fade {
  background: linear-gradient(0, rgba(0, 0, 0, 0.5), rgba(0,0,0,0)) ; /* Black background with 0.5 opacity */
  height:100%;
  width:100%;
  position:absolute;
  top:0;
}
.filter-fade2 {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)) ; /* Black background with 0.5 opacity */
  height:100%;
  width:80%;
  position:absolute;
	right:0;
  top:0;
}
.shadeTextBox {
  position: absolute;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 50%;
  left:25%;
  top:40%;
  text-align: center;
  padding: 20px;
  border-radius: 4px;
}
.shadeTextBox-fixed{
  position: fixed;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 50%;
  left:25%;
  top:40%;
  text-align: center;
  padding: 20px;
  border-radius: 4px;
}
.shadeTextBox-left-fixed{
  position: fixed;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 50%;
  left:25%;
  top:40%;
  padding: 20px;
  border-radius: 4px;
}
.window{
    position: absolute;
    top: 100%;
    padding-top:180px;
    width: 100%
}
.window-fixed{
    position: fixed;
    top: 100%;
    padding-top:180px;
    width: 100%;
		transition-duration: 1s;
}
.uparrow{
   position: absolute;
   width:5%;
    left: 47.5%;
		transition-duration: 1s;
}
.rightarrow{
	position: absolute;
	width: 12.5%;
	top: 47.5%;

	 transition-duration: 1s;
}
#window1{
	position: fixed;

}
#BigLogo{
   font-size: 48px;
    font-weight:bold;
    margin-left:90px;
		transition: text-shadow 0.3s;
		transition-timing-function: cubic-bezier(.19,1,.22,1);

}

#navbar #BigLogo:hover {
	 text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073, 0 0 45px #e60073;
}

#sidenav #BigLogo {
	text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073, 0 0 45px #e60073;
}
#sidenav {
		color:white;
		transition: 0.7s;
}
#sidenav .sidelink{
	padding:5px;
	height:40px;
  overflow:hidden;
	transition-duration:0.5s;
}

#sidenav .sidelink:hover{
	height:100px;
	padding-top: 40px;
	background: rgba(245,245,220,0.2);
	/*text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;*/
}
#sidenav .dropdown:hover{
	height:120px;
	padding-top:20px;
}
#sidenav .dropdown-content{
	padding-top:1px;
	font-size:16px
}
